body{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: white;
}

.nav{
    height:42px;
    background-color:#ab5e068b;
}

#logo,#list,#team {
    display:inline-block;
}

#logo {
    margin-left:30px;
    padding:5px;
    font-size:x-large;
    font-weight: bold;
}

#list,#team {
    margin-right:50px;
    padding:9px;
    font-size:large;
    float:right;
}

#logo:hover {
    background-color: #7B5326;
}

#team:hover {
    background-color: #7B5326;
}

#list:hover {
    background-color: #7B5326;
}

.b1,.b2,.b3{
    width:calc(1.2em/0.7);
    height:calc(1.2em/0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2em;
    color:white;
    background-color: rgba(207, 50, 50, 0.856);
}
#w1,#w2,#w3{
    display:flex;
    justify-content: left;
    margin:0 auto;
    padding:15px;
    max-width:1170px;
}
.b2{
    background-color: rgba(207, 194, 50, 0.856);
}
#w2{
    justify-content:center;
}
.b3{
    background-color: rgba(50, 134, 207, 0.856);
}
#w3{
    justify-content:right;
}

.human{
    display:flex;
    justify-content: center;
    margin:0px;
    padding:0px;
}

#hn{
    width:155px;
    height: 280px;
}

button{
    all:unset;
}

h1/*ground 글씨 스타일 지정 */{
    text-align:center;
    font-family:'Courier New', Courier, monospace;
    font-size:50px;
    margin:0px;
} 

.gd/* ground 부분 바탕색 설정 */{
    width: 100%;
    height: 136px;
    background-color: #7B5326;
} 

a/* 하이퍼링크의 스타일 제거 */{
    color:inherit;
    text-decoration-line: none;
 } 

#ground{
    font-style: italic;
    color: white;
}