*{
    background-color: antiquewhite;
}
html{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
}
/*list 정보*/
span{
    margin: 0;
    padding: 0px 0px 0px 10px
}
span.tit{
    padding: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
dt{
    list-style: none;
}
/*이미지*/
.portal{
    float: right;
    transform: translate(-10px, -30px); /*iframe 안 위치지정*/
}
.portal img{
    width: 140px;
    height: 140px;
}