body{
    background: linear-gradient(
    to bottom,
    #3065AC 0%,
    #3065AC 20%,
    #fff 20%,
    #fff 100%
  );
}
/*홈페이지*/

.to_home{
    width: 400px;
    height: 70px;
    background-color: #3065AC;
    border: none;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
.to_home a{
    color: #fff;
    font-size: 50px;
    text-decoration: none;
}

.to_home a:hover{
    text-decoration: underline;
}
/*지도*/
#map{
    position: absolute;
    border: solid 10px;
    border-color: skyblue;
    left: 47%;
    height: 300px;
    width: 50%;
    transform: translate(-50%, 0%);
}
div.wrap {
    width: 150px;
}
div.text-box {
    text-align: center;
}
h4 {
    margin: 10px auto 0;
}
div.img-box {
    max-height: 90px;
    overflow: hidden;
}
img.marker {
    width: 120px;
    margin: -10px auto 0;
}
a {
    text-decoration: none;
    color: #000;
}
/* 확대/축소 등 구글 지도의 기본 UI 감추기 */
.gmnoprint, .gm-control-active.gm-fullscreen-control {
    display: none;
}

/*이건 part*/
* {
    box-sizing: border-box;
    margin: 0px;
}

html, body{
    width: 100%;
}

#emptyBox{
    height:340px;
}

.wrapper_row {
    width:90%;
    padding: 2.5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.picWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.picWrapper__item{
    display: flex;
    flex-direction: column;
}

.box{
    border-radius: 70%;
    overflow: hidden;
}

.place_pic {
    width: 270px;
    height: 250px;
    transform: scale(1.1);
}

.place_name {
    color: #0f465e;
    padding: 10px;
    padding-top:20px;
    font-size: 38px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#firstName, #secondName, #thirdName {
    color: #0f465e;
}

.place_des {
    color: gray;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#firstPic,#secondPic,#thirdPic,#fourthPic,#fifthPic,#sixPic,#seventhPic,#eightPic,#ninePic {
    transition: all 0.1s linear;
  }
#firstPic:hover,#secondPic:hover,#thirdPic:hover,#fourthPic:hover,#fifthPic:hover,#sixthPic:hover,#seventhPic:hover,#eightPic:hover,#ninePic:hover{
    transform: scale(1.3);
}

#firstWrapper{
    margin-left:150px;
    margin-right:5px;
    padding:25px;
    padding-right: 130px;
    padding-bottom: 80px;
    border-right: 3px solid #3065AC;
    border-bottom: 3px solid #3065AC;
}

#secondWrapper{
    margin-right:5px;
    padding: 25px;
    padding-left:120px;
    padding-right:120px;
    border-left: 3px solid #3065AC;
    border-right: 3px solid #3065AC;
    border-bottom: 3px solid #3065AC;
}

#thirdWrapper{
    padding:25px;
    padding-left: 130px;
    padding-bottom: 80px;
    border-left: 3px solid #3065AC;
    border-bottom: 3px solid #3065AC;
    
}

#fourthWrapper{
    margin-left:150px;
    margin-right:5px;
    padding:25px;
    padding-right: 130px;
    padding-top: 80px;
    padding-bottom: 80px;
    border-top: 3px solid #3065AC;
    border-right: 3px solid #3065AC;
    border-bottom: 3px solid #3065AC;
    
}

#fifthWrapper{
    margin-right:5px;
    padding: 80px;
    padding-left:120px;
    padding-right:120px;
    border: 3px solid #3065AC;
    
}

#sixthWrapper{
    padding:25px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 130px;
    border-top: 3px solid #3065AC;
    border-left: 3px solid #3065AC;
    border-bottom: 3px solid #3065AC;
    
}

#seventhWrapper{
    margin-left:150px;
    margin-right:5px;
    padding:25px;
    padding-right: 130px;
    padding-top: 80px;
    border-top: 3px solid #3065AC;
    border-right: 3px solid #3065AC;
    
}

#eightWrapper{
    margin-right:5px;
    padding: 80px;
    padding-left:120px;
    padding-right:120px;
    border-left: 3px solid #3065AC;
    border-top: 3px solid #3065AC;
    border-right: 3px solid #3065AC;

}

#nineWrapper{
    padding:25px;
    padding-left: 130px;
    padding-top: 80px;
    border-left: 3px solid #3065AC;
    border-top: 3px solid #3065AC;
    
}