body{
    width:100%;
    height:100%;
    margin:0px;
}
/* nav style */
.nav{
    background-color:rgb(122, 201, 67);
}

#logo,#list,#team {
    display:inline-block;
    position: relative;
}

#logo {
    margin-left:30px;
    padding:10px;
    font-size:x-large;
    font-weight: bold;
}

#list,#team {
    margin-right:50px;
    padding:10px;
    font-size:large;
    float:right;
}

#logo::after,#list::after, #team::after{
    position:absolute; 
    bottom: 0; 
    left: 0; 
    display: block; 
    content: ''; 
    width: 100%; 
    border-bottom: 3px solid #fff; 
    height: 1px; transform: translateY(-15px); 
    opacity: 0; 
    transition: all 0.5s;
}
#logo:hover::after, #list:hover::after, #team:hover::after{
    opacity: 1; 
    transform: translateY(-5px);
}

fieldset {
    text-align: center;
    padding: 40px;
    width: 60%;
    margin: 0 auto;
}
legend{
    background-color: rgb(122, 201, 67, 0.5);
    padding: 5px;
}
button {
    font-size: 20px;
    border: 2px solid white;
}
#kind {
    margin:50px 0px;
}

#kind img{
    width:200px;
    height:200px;
}
#picktable img {
    width: 100px;
    height: 100px;
    margin: 20px;
}
a {
    text-decoration: none;
    color:black;
}
[type=button] {
    margin: 20px 0px;
    padding: 3px;
    background-color: rgb(122, 201, 67, 0.5) ;
    box-shadow: 0 0 0 max(2px, 0.2em) rgb(122, 201, 67, 0.5);
}
[type=button]:hover {
    box-shadow: 0 0 0 max(2px, 0.2em) rgb(122, 201, 67);
    cursor: pointer;
}

#half{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(122, 201, 67) 50%, #fff 50%);
    z-index: 0;
    text-align: center;
    vertical-align: middle;
}
#main{
    width: 85%;
    height: 70%;
    border-radius: 20px;
    border: 1px rgb(122, 201, 67) solid;
    margin-top: 30px;
    margin-bottom: 100px;
    display: inline-block;
    background-color: #fff;
    z-index: 1;
}
#start, #gender, #kind, #picktable, #with{
    z-index: 3;
}

figure{
    text-align: center;
    display: inline-block;
}
table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
td{
    border: 1px rgb(122, 201, 67) solid;
}
td:hover{
    background-color: aliceblue;
}
#unl {
    text-decoration: underline;
}
label {
    font-size: 20px;
    line-height: 2rem;
    padding: 0.2em 0.4em;
}
  
span {
    vertical-align: middle;
}
  
[type="radio"] {
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    transition: border 0.5s ease-in-out;
}
[type="radio"]:checked {
    border: 0.4em solid rgb(122, 201, 67);
}
[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    background: #fff;
    border: solid rgb(122, 201, 67);
    border-width: 0.5px 2px 2px 0.5px;
    border-radius: 4px;
    cursor: pointer;
    height: 16px;
    outline: 0;
    width: 16px;
}
  input[type="checkbox"]::after {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    content: '';
    display: none;
    height: 40%;
    left: 40%;
    position: relative;
    top: 20%;
    transform: rotate(45deg);
    width: 15%;
}
  input[type="checkbox"]:checked {
    background: rgb(122, 201, 67);
}
  input[type="checkbox"]:checked::after {
    display: block;
}
.arrow{
    width: 0;
	height: 0;
	border-top: 10px solid rgb(255, 222, 34);/* 화살표 */
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}