body{
    background-color: beige;
}

/*홈페이지*/
.to_home{
    background-color: #000080;
    width: 200px;
    height: 70px;
}
.to_home a{
    color: #ff00ff;
    background-color: #000080;
    font-size: 30px;
    text-decoration: none;
}
/*지도*/
#map{
    position: absolute;
    background-image: url("../IMG/sample2.png");
    background-repeat: no-repeat;
    border: solid 1px;
    left: 50%;
    margin-right: auto;
    height: 270px;
    width: 50%;
    transform: translate(-50%, 0%);
    z-index: -2;
}
/*마커설정*/
.container{
    position: absolute;
    border: none;
    background: none;
    width: 30px;
    height: 30px;
}
/*마커 사이즈*/
.hideContent img{
    width: 20px;
    height: 30px;
}
/*첫번째 마커 위치 지정*/
#btn1{
    top: 1%;
    left: 1%;
}
/*두번째 마커*/
#btn2{
    top: 1%;
    left: 40%;
}
/*3번째 마커*/
#btn3{
    top: 1%;
    left: 80%;
}
/*4번째 마커*/
#btn4{
    top: 40%;
    left: 1%;
}
#btn5{
    top: 40%;
    left: 40%;
}
#btn6{
    top: 40%;
    left: 80%;
}
#btn7{
    top: 80%;
    left: 1%;
}
#btn8{
    top: 80%;
    left: 40%;
}
#btn9{
    top: 80%;
    left: 80%;
}
/*마커 컨테이너 설정*/
.hideContent{
    margin: 0;
    padding: 0;
}
/*리스트 컨테이너 설정*/
.showContent{
    display: none;
    position: fixed;
    left: 10%;
    top: -5%;
    z-index: 1;
}
.showContent iframe{
    width: 400px;
    height: 300px;
    left: 100;
    top: 10;
}