body{
    background-color: beige;
}

/*홈페이지*/
.to_home{
    background-color: #000080;
    width: 200px;
    height: 70px;
}
.to_home a{
    color: #ff00ff;
    background-color: #000080;
    font-size: 30px;
    text-decoration: none;
}
/*지도*/
#map{
    position: absolute;
    background-image: url("../IMG/sample2.png");
    background-repeat: no-repeat;
    border: solid 1px;
    left: 50%;
    margin-right: auto;
    height: 270px;
    width: 50%;
    transform: translate(-50%, 0%);
    z-index: -2;
}
/*마커설정*/
.popup_button{
    position: absolute;
    border: none;
    background: none;
    width: 30px;
    height: 30px;
}
/*마커 사이즈*/
.hideContent img{
    width: 20px;
    height: 30px;
}
/*첫번째 마커 위치 지정*/
#btn1{
    top: 50%;
    left: 25%;
}
/*두번째 마커*/
#btn2{
    top: 50%;
    left: 50%;
}
#btn3{
    top: 30%;
    left: 90%;
}
#btn4{
    top: 20%;
    left: 10%;
}
/*hover 리스트 띄우기*/
.hideContent{
    margin: 0;
    padding: 0;
}
.showContent{
    display: none;
    position: fixed;
    left: 10%;
    top: -5%;
    z-index: 1;
}
.popup_button:hover .showContent{
    display: block;
}
/*
.popup_button:hover .hideContent{
    display: none;
}*/

.container{
    position: absolute;
    border: none;
    background: none;
    width: 30px;
    height: 30px;
}

.cat img{
    width: 20px;
    height: 30px;
}
.cat{
    margin: 0;
    padding: 0;
}
.dog{
    display: none;
    position: fixed;
    left: 10%;
    top: -5%;
    z-index: 1;
}
/**/
iframe{
    width: 400px;
    height: 300px;
    left: 100;
    top: 10;
}